{% block nav %}
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand" style="background-color: #56C596">
        <!-- Left navbar links -->
        <ul class="navbar-nav" >

            <li class="nav-item d-none d-sm-inline-block" >
                <a href="index3.html" class="nav-link" style="color:white">Home</a>
            </li>

        </ul>

        <!-- SEARCH FORM -->


        <!-- Right navbar links -->

    </nav>
    <!-- /.navbar -->
{% endblock %}