
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand fixed-top" style="background-color: #56C596">
        <!-- Left navbar links -->
        <ul class="navbar-nav" >

            <li class="nav-item d-none d-sm-inline-block" >
                <a href="{{ path('admin_utilisateurs')}}" class="nav-link" style="color:white">Acceuil</a>
            </li>

        </ul>

        <!-- SEARCH FORM -->


        <!-- Right navbar links -->

    </nav>
    <!-- /.navbar -->

