{{ form_start(form,{'attr':{'novalidate' : 'novalidate'}}) }}
    {{ form_widget(form) }}
  
    <button class="btn btn-primary">{{ button_label|default('enregistrer') }}</button>
{{ form_end(form) }}
